# Project exclude paths
/cmake-build-default/Makefile
/cmake-build-default/CMakeFiles/
/cmake-build-default/Testing/
/cmake-build-default/cmake_install.cmake
/cmake-build-default/CMakeCache.txt
/cmake-build-default/FallingBalls.cbp
/cmake-build-default/FallingBalls.exe
/cmake-build-release/CMakeFiles/
/cmake-build-release/cmake_install.cmake
/cmake-build-release/CMakeCache.txt
/cmake-build-release/FallingBalls.cbp
/cmake-build-release/Makefile
/cmake-build-release/FallingBalls.exe
/cmake-build-release/Testing/
